body{
    background: bisque;
    font: normal 20pt Arial;
}

header{
    color: brown;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px 10px brown;
}

footer{
    color: rgb(148, 27, 27);
    text-align: center;
    font-style: italic;
}   